<!--何人フォローしてるか、フォローされているかを表示-->
<% @user ||= current_user %>
<div class="stats">
  <!--フォロー一覧へ飛ぶ-->
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    フォロー
  </a>
  <!--フォロワー一覧へ飛ぶ-->
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    フォロワー
  </a>
</div>